{% extends 'base.html' %} 

{% block title %} LogIn {% endblock %}

{% block content %} 
<h1>LogIn</h1>
{% if form.errors %} 
<p>
    Your user name and Password didn't match
    Please try again
</p>
{% else %} 
<p>Please use the following form to login. If you don't have account<a href="{% url 'register' %}">Sign Up</a> Here </p>
{% endif %} 
<div  class="login-form">
    <form action="{% url 'login' %}" method="post">
        {{form.as_p}}
        {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"> 
        <p><input type="submit" value="Login"></p>
    </form>
    <p><a href="{% url 'password_reset' %}">Forgot your password</a></p>
</div>
<div class="social">
    <ul>
        <li class="google">
            <a href="{% url 'social:begin' 'google-oauth2' %}">Sign In With Google</a>
        </li>
    </ul>
    <ul>
        <li class="facebook">
            <a href="{% url 'social:begin' 'facebook' %}">Sign In With Facebook</a>
        </li>
    </ul>
</div>
{% endblock %}